<mat-sidenav-container>
    <mat-sidenav mode="side" opened>
        <mat-list>
            <mat-list-item *ngFor="let navItem of navItems">
                <button mat-button [routerLink]="navItem.path">{{ navItem.title }}</button>
            </mat-list-item>
        </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
