<div class="subheader">
<span>Brought to you by $TONY CRYPTO GROUP LLC</span>
</div>
<div class="coin-container">
    <img class="tony-coin-img" src="/assets/tony-coin-crouch.png">
    <img class="tony-coin-img animation-delay" src="/assets/tony-coin-goblin.png">
</div>
<mat-card>
    <mat-card-header>
        <mat-card-title>Purchase $TONY Now!!!</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div>
        <mat-form-field class="full-width-field">
            <mat-label>Name on card</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field class="full-width-field">
            <mat-label>Card Number</mat-label>
            <input matInput>
        </mat-form-field>
        <div>
            <mat-form-field>
            <mat-label>Expiry date</mat-label>
            <input matInput>
            </mat-form-field>
            <mat-form-field>
            <mat-label>Security code</mat-label>
            <input matInput>
            </mat-form-field>
        </div>
        <mat-form-field class="full-width-field">
            <mat-label>ZIP/Postal code</mat-label>
            <input matInput>
        </mat-form-field>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button
        color="primary"
        class="full-width-field"
        (click)="openDialog()">BUY NOW</button>
    </mat-card-actions>
</mat-card>
