<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>$TONY</span>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <span>The only place in the world</span>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <span>to buy genuine $TONY</span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="content">
  <app-navigation>
  </app-navigation>
</div>
